.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 10em;
  width: 90%;
  margin-top: 1em;
}


form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

textarea {
  display: flex;
  background-color: #f4f1ec;
  outline: none;
  border: none;
  border-bottom: 2px solid;
  border-color: #545149;
}


form div {
  display: flex;
  justify-content: space-between;
}

output {
  font-family: 'Bungee', sans-serif;
}

button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

#tweet-error {
  background-color: rgb(255, 86, 80);
  opacity: 95%;
  color: white;
  margin: 1em;
  padding: 0 0.75em 0 0.75em;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
}